<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr.green {
            background-color: #73bf43;
        }
        
        tr.grey {
            background-color: #6d6e71;
        }
    </style>
</head>
<body>
    <p>Hi <%= @user.first_name %>,</p>
    <p>Following are today's matches for voip routes you have listed on interroute.io:</p>
    <table>
        <tr>
            <th>Buy/Sell</th>
            <th>Destination</th>
            <th>Breakout</th>
            <th>Price</th>
            <th>Type</th>
            <th>User</th>
        </tr>
        <% @all_matches_hash.each do |route_id, matches| %>
            <% route = Route.find(route_id) %>
            <tr class="green">
                <th colspan="6" style="text-align:center;">Your Route</th>
            </tr>
            <tr>
                <td><%= route.purchase_type.humanize %></td>
                <td><%= route.breakout.destination %></td>
                <td><%= route.breakout.code %></td>
                <td>$<%= route.price %></td>
                <td><%= route.quality_type.upcase.tr('_', '-') %></td>
            </tr>
            
            <tr class="grey">
                <th colspan="6" style="text-align:center;">Matches</th>
            </tr>
            <% matches.each do |route_match| %>
                <tr>
                    <td><%= route_match.purchase_type.humanize %></td>
                    <td><%= route_match.breakout.destination %></td>
                    <td><%= route_match.breakout.code %></td>
                    <td>$<%= route_match.price %></td>
                    <td><%= route_match.quality_type.upcase.tr('_', '-') %></td>
                    <td><%= link_to route_match.user.name, user_url(route_match.user) %></td>
                </tr>
            <% end %>
        <% end %>
    </table>

    <p>To contact your matches <%= link_to "login to interroute.io", new_user_session_url %>
    <p>Please keep your routes updated from your main dashboard to ensure you get the most useful daily updates!</p>
    <p>Thank you,
        <br>
        InterRoute Support
    </p>
</body>
</html>