<% @receipts.each do |receipt| %>
  <% message = receipt.message %>

  <div class="media <%= message.sender == current_user ? "grey-bubble" : "blue-bubble" %>">
    <div>
      <h5 class="mt-0">
        <%= message.sender.name %> <br>
        <span class="date"><b>Date: </b><i><%=  message.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></i></span>
      </h5>
      <%= message.body %>
    </div>
  </div>
  
  <div class="spacer"></div>
<% end %>

<!--
<% @receipts.each do |receipt| %>
  <% message = receipt.message %>
  <div class="media">
    <a href="<%= url_for(message.sender) %>">
      <img class="d-flex mr-3" src="<%= message.sender.photo.url(:thumb) %>" alt="..." height="64" width="64">
    </a>
    <div class="media-body">
      <h5 class="mt-0">
        <%= message.sender.name %> <br>
        <small class="text-muted"><b>Date: </b><i><%=  message.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></i></small>
      </h5>
      <%= message.body %>
    </div>
  </div>
  <div class="spacer"></div>
<% end %>
-->