<% @receipts.each do |receipt| %>
    <% message = receipt.message %>
    <div class="media">
      <a href="<%= url_for(conversation.originator) %>">
        <img class="d-flex mr-3" src="<%= conversation.originator.photo.url(:thumb) %>" alt="..." height="64" width="64">
      </a>
      <div class="media-body">
        <h5 class="mt-0">
          <%= message.sender.name %> <br>
          <small class="text-muted"><b>Subject: </b><i><%= message.subject %></i></small><br>
          <small class="text-muted"><b>Date: </b><i><%=  message.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></i></small>
        </h5>
        <%= message.body %>
      </div>
    </div>
    <div class="spacer"></div>
<% end %>